
  body{
  margin-top: 20px;
    border: 2px solid yellow;
    min-height: 100vh;
    background:  white;

}  
 .calculater{
  margin-top: 50px;
    border: 2px solid yellow;
    width: 300px;
    height:500px ;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 2);
    border-radius: 12px;
    background: #222522;
    overflow: hidden;
 }
form input{
 
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: #000;
    text-align: right;
    pointer-events: none;
}
.button{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    color: pink;
    background-color: white;
}
button{
    
    flex:  0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60;
    height: 52;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    color: chocolate

}
.btn-yeelow{
    background-color: rgb(245, 146, 62);
    color: #fff;
}
.btn-grey{
    background: rgb(224, g224, 224);
    color: #000;
}
.btn-equal{
    background: green;
    color: #fff;
}

.buttion{
    background-color: blue;

} 
